*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.row{
    width: 100%;
}

p{
    margin: 40px 10px 10px 10px;
    width: 90%;
}

@media (min-width: 992px){
    .col-lg-4{
        width:32%;
        height: 100%;
        float: left;
        margin: 5px;
        
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    .col-md-6{
        width:48%;
        float: left;
        margin: 5px;
        
    }
}

@media (max-width: 767 px)
{
    .col-sm-12{
        width:90%;
        float: left;
        margin: 5px;
        
    }
}


.heading{
    text-align: center;
    margin-bottom: 20px;
    font-size: 175%;
}

.dish
    {
        position: relative;
        margin: 5px;
        padding: 5px;
        background-color:rgb(168, 166, 166);
        box-sizing: border-box;
    }

.chicken{
    background-color: hotpink;
    position: absolute;
    right:0px;
    top:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    font-size: 125%;
}

.beef{
    background-color: red;
    color: white;
    position: absolute;
    right:0px;
    top:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    font-size: 125%;
}

.sushi{
    background-color:yellowgreen;
    position: absolute;
    right:0px;
    top:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    font-size: 125%;
}